.LoginPage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginPage form{
    display: flex;
    flex-direction: column;
}

.LoginPage .sign-in{
    margin-bottom: 10px;
}

