.ChatWindow{
    background: white;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 100;
}

.ChatWindow ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.ChatWindow li:nth-child(even){
    background: lightgrey;
}

.ChatWindow li{
    padding-left: 8px;
    word-break: break-all;
}