.Navbar{
    height: 5vh;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.Navbar button{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    height: 100%;
}